body {
  font-family: 'Roboto', sans-serif !important;
}

.btn.btn-primary {
  background-color: #00a1ff !important;
  border-color: #00a1ff !important;
}
.btn.btn-primary:hover {
  background-color: #00a1ff !important;
  border-color: #00a1ff !important;
}

.btn.btn-secondary {
  background-color: #fab43a !important;
  border-color: #fab43a !important;
}
.btn.btn-secondary:hover {
  background-color: #fab43a !important;
  border-color: #fab43a !important;
}

